<!DOCTYPE html>
<html lang="jv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.title }}</title>
</head>
<body>
    <h1>Selamat Datang Nang Ternakan Cloudflare-ku, Bro!</h1>
    <p>Web iki digawe nganggo basa lelembut Zola (Rust Engine) lan di-onlineke gratis tis.</p>
    
    <hr>
    <h3>Menu Tes Ruwat/Redirect:</h3>
    <ul>
        <li><a href="/facebook">Jajal Klik Link Iki (Kudu Balik Mrene Lewat Aturan 301)</a></li>
    </ul>
</body>
</html>
